@font-face {
  font-family: Pacifico;
  src: url(./fonts/Pacifico/Pacifico-Regular.ttf);
}

body {
  background-color: pink;
}

h1 {
  color: darkred;
  text-align: center;
  font-size: 3em;
  padding-bottom: 5px;
  margin-bottom: -15px;
  font-family: Pacifico, cursive;
}

strong { font-family: cursive;}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
}

img, p {
	width: 50%;
  max-width: 300px;
  min-width: 250px;
	/* height: 300px; */
  aspect-ratio: 1;
}

img {
	border: 1px solid red;
	margin: 10px;
  padding: 10px;
}

p {
	text-align: justify;
	border: 1px solid red;
  color: gray;
  padding: 10px;
  font-size: 1.2em;
}

@media (max-width: 800px) {
  .container {
    flex-direction: column;
  }
  img, p {
    width: 80%;
  }
}
